<style>
    th, td {padding: 20px;}
</style>

<div>Start Date: {{item.date}}</div>
<div>Start Time: {{item.time}}</div>
<div>Brevet Distance: {{item.dist}}</div>

<table>
    <tr>
        <th>km</th>
        <th>Location Name</th>
        <th>Open Time</th>
        <th>Close Time</th>
    </tr>

    {% for row in item.rows %}
        <tr>
            <td>{{row[0]}}</td>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
            <td>{{row[3]}}</td>
        </tr>
    {% endfor %}

</table>